.header{
    background: transparent;
    margin-bottom: 1.45rem;

    .wrapper{
        display: table;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 1.45rem;
        
        .cell{
            display: table-cell;
            vertical-align: middle;
        }

        .title{
            display: inline-block;
            margin: 0;

            a{
                font-size: 1.5em;
                word-wrap: none;      
                color: #4a8bfc !important;
                text-decoration: none;
                &:visited{
                    color: inherit;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .header{
        .wrapper{
            .title{
                text-align: left;

                a{
                    font-size: 0.9em;                
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .header{
        .wrapper{
            .title{
                text-align: left;

                a{
                    font-size: 0.7em;                
                }
            }
        }
    }
}