$link-color: #4a8bfc;

.postListViewItem{
    display: inline-block;
    overflow: hidden;
    margin-bottom: 20px;

    .title{
        color: $link-color;
        font-weight: bold;
    }  

    .date{
        float: right;
        margin-right: 15px;
        font-weight: bold;
    }
}

