$primary-color: #00FF00;
$link-color: #4a8bfc;

.postListViewItem{
    display: inline-block;
    overflow: hidden;
   

    &:hover{
        text-decoration: none;
    }

    .title{
        font-size: 1.7em;
        color: $link-color;
        transition: 0.3s all;
    }  
}

.date{
    margin-right: 15px;
    display: inline-block;
    color: $link-color;
    font-weight: bold;
}
